@{
    ViewBag.Title = "IndexStep1";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="container-fluid" style="min-height: 700px; margin-top: 20px;">
    <div class="row" style="margin-top:-20px">
        <div class="span12" style="color:red">
            温馨提醒：请确保信息的真实避免审核失败！
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="tab-pane fade active in">
                <div class="price-table price-table-three">
                    <div class="price-column  price-column-last ">
                        <h4>第一步</h4>
                    </div>
                    <div class="price-column price-column-even">
                        <h4>第二步</h4>
                    </div>
                    <div class="price-column  price-column-featured ">
                        <h4>第三步</h4>
                    </div>
                </div>
            </div>

        </div>
        <div class="span12" style="margin-top:-40px">
            <div class="portfolio-single">
                <div class="title"><h4 class="indent-1 extra">行业选择</h4></div>
                <div class="row">
                    <div class="span12">
                        111
                    </div>
                </div>

                <div class="title"><h4 class="indent-1 extra">荣誉证书</h4></div>
                <div class="row">
                    <label class="name span6">
                        证书名称:
                        <input type="text">
                    </label>
                    <label class="name span6">
                        证书图片:
                        <input type="text">
                    </label>
                </div>
                <div class="row">
                    <label class="name span3">
                        <img id="logo" src="http://pic.to8to.com/c_zhengshu/day_150526/20150526_40f9c3c622bad3e9a158IAwdkxhOL1HB.jpg" style="height: 250px; width: 250px" alt="">
                    </label>
                    <label class="name span3">
                        <img id="logo" src="http://pic.to8to.com/c_zhengshu/day_150526/20150526_40f9c3c622bad3e9a158IAwdkxhOL1HB.jpg" style="height: 250px; width: 250px; " alt="">
                    </label>
                    <label class="name span3">
                        <img id="logo" src="http://pic.to8to.com/c_zhengshu/day_150526/20150526_40f9c3c622bad3e9a158IAwdkxhOL1HB.jpg" style="height: 250px; width: 250px; " alt="">
                    </label>
                    <label class="name span3">
                        <img id="logo" src="http://pic.to8to.com/c_zhengshu/day_150526/20150526_40f9c3c622bad3e9a158IAwdkxhOL1HB.jpg" style="height: 250px; width: 250px; " alt="">
                    </label>
                </div>

            </div>
        </div>
        <div class="span5" style="text-align:center">
            <a class="button medium blue" style="width:250px" onclick="history.go(-1)"> 上一步  </a>
        </div>
        <div class="span5" style="text-align:center">
            <a class="button medium blue" href="IndexStep2" style="width:250px">提交</a>
        </div>
    </div>
</div>
