<div id="body" style="min-height:700px">
    <form name="form1" method="post" enctype="multipart/form-data" action="api/FileManager/Upload">
        <fieldset>
            <legend>File Upload Example</legend>
            <div>
                <label for="caption">Image Caption</label>
                <input name="caption" type="text" />
            </div>
            <div>
                <label for="image1">Image File</label>
                <input name="image1" type="file" />
            </div>
            <div>
                <input type="submit" value="Submit" />
            </div>
        </fieldset>
    </form>
</div>
