
<div class="header-block clearfix">
    <!-- open close panel -->
    <div id="toppanel">
        <div id="panel">
            <div class="container">
            </div>
        </div>
        <div class="toggle-button" id="hide_button" style="display: none;">
            <a href="#">
                <i class="icon-chevron-upicon-white"></i>
            </a>
        </div>
    </div>
    <div class="toggle-button" style="display: visible;">
        <a href="#">
            <i class="icon-chevron-down icon-white"></i>
        </a>
    </div>
    <!-- topbar -->
    <!-- Logo & Navigation -->
    <header>
        <div class="container clearfix">
            <div class="row ">
                <div class="span12">
                    <!-- Logo -->
                    <h1 class="brand brand_">
                        <a href="#">
                            <img id="logo" src="http://mayflower-premiumsoft.homakimi-digital.com/img/logo.png" style="height:50px;width:100px" alt="">
                        </a>
                    </h1>
                    <!-- Navigation -->
                    <div class="navbar navbar_">
                        <div class="container">
                            <!--=========== menu ===============-->
                            <div class="nav-collapse nav-collapse_ collapse">
                                <ul class="nav sf-menu">
                                    <li class=" sub-menu">
                                        <a href="Introduce">学校介绍</a>
                                    <li class="sub-menu">
                                        <a href="Teaching">教学环境 </a>
                                    </li>
                                    <li class="active sub-menu">
                                        <a href="Team">师资团队 </a>
                                    </li>
                                    <li class="sub-menu">
                                        <a href="Course">课程管理 </a>
                                    </li>
                                    <li class="sub-menu">
                                        <a href="#">学员管理 <span class="msg-count badge badge-info">3</span></a>
                                    </li>
                                    <li><a href="contact.html">评论回复 <span class="msg-count badge badge-info">3</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </header>
</div>
<!--==============================content=================================-->
<section id="content">
    <div class="breadcrumb-wrapper">
        <div class="shadowdrop"></div>
        <div class="container">
            <h2><span>口碑值：34分</span><small></small></h2>
        </div>
    </div>
    <div class="container">
        <div id="content">
            <div class="container">
                <!-- Docs nav
                ================================================== -->
                <div class="row">
                    <div class="span3 bs-docs-sidebar">
                        <ul class="nav nav-list bs-docs-sidenav affix-top">
                            <li class="active"><a href="#typography"><i class="icon-chevron-right"></i>金牌讲师</a></li>
                            <li class=""><a href="#code"><i class="icon-chevron-right"></i>主任讲师</a></li>
                            <li class=""><a href="#tables"><i class="icon-chevron-right"></i>就业讲师</a></li>
                        </ul>
                    </div>
                    <div class="span9">
                        <div class="portfolio-single">
                            <div class="title"><h4 class="indent-1 extra">金牌讲师</h4></div>
                            <div class="row">
                                <label class="span3">
                                    <input type="text">
                                </label>
                                <div class="span6">
                                    <a class="btn btn-info" href="#"> 查询  </a>
                                    <a class="btn btn-primary" href="#modal-container" data-toggle="modal">  新增  </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="modal span9" style="position: relative; top: auto; left: auto; margin: 0 auto 20px; z-index: 1; max-width: 100%;margin-left:2.5em">
                                    <div class="modal-header">
                                        <h3>林方书</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row-fluid">
                                            <div class="span3">
                                                <img src="http://placehold.it/140x140" class="img-polaroid"><br />
                                                <span class="label-info label">禽兽</span>
                                                <span class="label-info label">傻逼</span>
                                                <span class="label-info label">恋童</span>
                                            </div>
                                            <div class="span9">
                                                一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介
                                                绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段
                                                很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer"> <a href="#modal-container" data-toggle="modal" class="btn btn-primary">编辑</a> <a href="#" class="btn btn-warning">删除</a> </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="modal span9" style="position: relative; top: auto; left: auto; margin: 0 auto 20px; z-index: 1; max-width: 100%;margin-left:2.5em">
                                    <div class="modal-header">
                                        <h3>林方书</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row-fluid">
                                            <div class="span3">
                                                <img src="http://placehold.it/140x140" class="img-polaroid"><br />
                                                <span class="label-info label">禽兽</span>
                                                <span class="label-info label">年少</span>
                                                <span class="label-info label">多金</span>
                                            </div>
                                            <div class="span9">
                                                一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介
                                                绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段
                                                很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer"> <a href="#" class="btn btn-primary">编辑</a> <a href="#" class="btn btn-warning">删除</a> </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="modal span9" style="position: relative; top: auto; left: auto; margin: 0 auto 20px; z-index: 1; max-width: 100%;margin-left:2.5em">
                                    <div class="modal-header">
                                        <h3>林方书</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row-fluid">
                                            <div class="span3">
                                                <img src="http://placehold.it/140x140" class="img-polaroid"><br />
                                                <span class="label-info label">禽兽</span>
                                                <span class="label-info label">年少</span>
                                                <span class="label-info label">多金</span>
                                            </div>
                                            <div class="span9">
                                                一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介
                                                绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段
                                                很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍一段很牛B的介绍

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer"> <a href="#" class="btn btn-primary">编辑</a> <a href="#" class="btn btn-warning">删除</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div id="modal-container" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">
                        新增金牌讲师
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="span4">
                        <img src="http://placehold.it/140x140" class="img-polaroid">
                    </div>
                    <div class="span8">

                        头像<span style="color:red">*</span>: <input type="text"><br />
                        名称<span style="color:red">*</span>: <input type="text"><br />
                        标签<span style="color:red">*</span>: <input type="text"><br />
                        介绍<span style="color:red">*</span>: <textarea class="span12" style="height:150px"></textarea>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> <button class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
