<?xml version="1.0" encoding="utf-8"?>
<StructureMap MementoStyle="Attribute">
  <DefaultInstance PluginType="Seal.Business.Interface.IAccountService,Seal.Business.Interface" PluggedType="Seal.Business.AccountService,Seal.Business" Scope="Singleton"/>
  <DefaultInstance PluginType="Seal.Business.Interface.ILoginLogService,Seal.Business.Interface" PluggedType="Seal.Business.LoginLogService,Seal.Business" Scope="Singleton"/>
</StructureMap>
