<StructureMap MementoStyle="Attribute">
  <DefaultInstance PluginType="Seal.DataAccess.Interface.IAccountDao,Seal.DataAccess.Interface" PluggedType="Seal.DataAccess.AccountDao,Seal.DataAccess" Scope="Singleton"/>
  <DefaultInstance PluginType="Seal.DataAccess.Interface.ILoginLogDao,Seal.DataAccess.Interface" PluggedType="Seal.DataAccess.LoginLogDao,Seal.DataAccess" Scope="Singleton"/>
</StructureMap>